@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(94deg, rgba(30, 41, 49, 1) 0%, rgba(58, 76, 88, 1) 100%);
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.app {
  width: 100%;
  padding: 0 15px;
}
.movie-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 15px;
  padding: 30px;
}

.movie {
  cursor: pointer;
  background-color: transparent;
  max-width: 250px;
  height: 320px;
  perspective: 1000px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.movie-title {
  font-size: 14px;
  padding: 8px 5px;
}

.movie img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.84);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.84);
}

.movie-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.movie:hover .movie-inner {
  transform: rotateY(180deg);
}
.movie-front {
  position: relative;
}
.movie-vote {
  position: absolute;
  bottom: 15%;
  right: -5%;
  background: #f98d14;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 13px;
  padding: 4px;
}
.movie-front,
.movie-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.movie-back {
  background-color: rgba(69, 78, 83, 0.356);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.84);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.84);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  transform: rotateY(180deg);
  height: 300px;
}
.movie-overview {
  font-size: 11px;
}
.movie-vote {
  position: absolute;
  right: -13px;
  bottom: 11%;
  width: 30px;
  height: 30px;
  background: #f28a2c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  font-size: 13px;
}

.search_movie {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0 0;
  padding: 0 25px;
}
.search_movie input {
  padding: 8px 10px;
  border: 0;
  outline: none;
  border-radius: 10px;
  width: 460px;
  background: rgb(255, 255, 255);
}
.logo {
  font-size: 30px;
  cursor: pointer;
}
.logo span {
  color: teal;
  font-weight: bold;
}

@media (max-width: 1280px) {
  .movie-list {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 1028px) {
  .movie-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 800px) {
  .movie-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .search_movie {
    flex-direction: column;
    align-items: center;
  }
  .search_movie input {
    width: 300px;
  }
}

@media (max-width: 500px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .movie img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
@media (max-width: 400px) {
  .movie-list {
    grid-template-columns: 1fr;
  }
}
